@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background: #181818;
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #212121;
    padding: 10px 30px;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 100%;
}

.logo span{
    display: flex;
    color: #ffffff;
    font-size: 12px;
    width: 100px;
    align-items: center;
    height: 100%;
}

.logo button{
    height: 100%;
    width: 40px;
    border: none;
    background: none;
    color: #fff;
}

.logo img{
    height: 60%;
}

.searchbar{
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100%;
}

.searchbar button{
    height: 80%;
    width: 80px;
    border: none;
    background: #3d3d3d;
    color: #80aaaaaa;
    transition: .2s ease-in-out;
}

i.fa-microphone {
    color: #fff;
    margin-left: 15px;
}

.searchbar button:hover{
    color: #fff;
}

.searchbar input{
    border: none;
    background: #0f0f0f;
    color: #aaaaaa;
    padding-left: 10px;
    font-size: 16px;
    height: 80%;
    width: 90%;
}

.searchbar input:focus{
    outline: none;
}

.variousBtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 100%;
}

.variousBtns button{
    border: none;
    background: none;
    height: 100%;
}

.profile{
    border-radius: 50%;
    height: 75%;
}

.fa-bell{
    font-size: 18px;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 90px;
    border: 1px solid green;
    width: 731px;
    height: 1000px;
}

.video-btns{
    display: flex;
    border: 1px solid blue;
    width: 100%;
    height: 80px;
}

.title{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid gold;
    height: 100%;
    width: 50%;
}



h1{
    color: #fff;

}

.title > p{
    margin-top: 10px;
    display: flex;
    color: #aaaaaa;
}

.action-btns{
    display: flex;
    align-items: flex-end;
    border: 1px solid greenyellow;
    height: 100%;
    width: 50%;
}

.like-btns{
    border: 1px solid red;
    height: 50%;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.like-btns button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
}

.like-btns span{
    font-size: 16px;
    font-weight: bold;
    color: #aaaaaa;
}

.like-btns > p{
    color: #fff;
}

.like-btns i{
    color: #aaaaaa;
    font-size: 26px;
}

aside{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
    width: calc(100% - 821px);
    height: 1000px;
    border: 1px solid purple;
}
